<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>FK Receipts | About Us</title>
    <script>
      function openBurger() {
        var menu = document.getElementById("menu");

        menu.classList.toggle("open");
      }
    </script>
  </head>
  <body>
    <header>
      <head>
        <link rel="stylesheet" href="./Components/index.css" />
      </head>
      <div class="header">
        <div class="imageHeaderContainer">
          <img src="./fk-receipts/logo.png" alt="" />
        </div>
        <div id="menuButton" onclick="openBurger()">&#9776;</div>
        <nav id="menu">
          <a href="./home.html">Home</a>
          <a href="./affiliate.html">Affiliate</a>
          <a href="./about.html">About us</a>
        </nav>
      </div>
    </header>
    <div class="AboutContainer">
      <h2 class="headerAbout">About us</h2>
      <p class="paragraphAbout">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </div>
    <footer>
      <div class="socials">
        <a target="_blank" href="https://www.instagram.com/fkreceipts/"
          ><img id="social" src="./fk-receipts/insta icon.png" alt="ig"
        /></a>
        <a target="_blank" href="https://t.me/fkreceipts/363"
          ><img id="social" src="./fk-receipts/telegram icon.png" alt=""
        /></a>
        <a
          target="_blank"
          href="https://www.youtube.com/channel/UCC2VbTPx77AKw9s7BsZEDlw"
          ><img id="social" src="./fk-receipts/youtobe icon.png" alt=""
        /></a>
      </div>
      <h4>Copyright © 2024; Designed By FKRECEIPT</h4>
    </footer>
  </body>
</html>
