<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <script>
        function openBurger() {
            var menu = document.getElementById("menu");
    
            menu.classList.toggle("open");
          }
    </script>
    <title>FK Receipts | Affiliate</title>
</head>
<body>
    <header>
        <head>
            <link rel="stylesheet" href="./Components/index.css">        
        </head>
        <div class="header">
            <div class="imageHeaderContainer">
              <img src="./fk-receipts/logo.png" alt="" />
            </div>
            <div id="menuButton" onclick="openBurger()">&#9776;</div>
            <nav id="menu">
              <a href="./home.html">Home</a>
              <a href="./affiliate.html">Affiliate</a>
              <a href="./about.html">About us</a>
            </nav>
          </div>
    </header>
    <div class="AffiliateWrapper">
        <div class="affiliateText">
            <h2>Do you want to make money promoting our products?</h2>
            <div class="paragraphText">
                <p>Contact us on our Telegram <a href="">@FKFinancess</a> or through our <h4>contact form</h4> on the website for more info!</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="socials">
            <a target="_blank" href="https://www.instagram.com/fkreceipts/"><img id="social" src="./fk-receipts/insta icon.png" alt="ig"></a>
            <a target="_blank" href="https://t.me/fkreceipts/363"><img id="social" src="./fk-receipts/telegram icon.png" alt=""></a>
            <a target="_blank" href="https://www.youtube.com/channel/UCC2VbTPx77AKw9s7BsZEDlw"><img id="social" src="./fk-receipts/youtobe icon.png" alt=""></a>
        </div>
        <h4>Copyright © 2024; Designed By FKRECEIPT</h4>

    </footer>
</body>
</html>