<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>FK Receipts | Home</title>
  </head>
  <script>
    function openBurger() {
      var menu = document.getElementById("menu");

      menu.classList.toggle("open");
    }
  </script>
  <body>
    <header>
      <head>
        <link rel="stylesheet" href="./Components/index.css" />
      </head>
      <div class="header">
        <div class="imageHeaderContainer">
          <img src="./fk-receipts/logo.png" alt="" />
        </div>
        <div id="menuButton" onclick="openBurger()">&#9776;</div>
        <nav id="menu">
          <a id="nava" href="./home.html">Home</a>
          <a id="nava" href="./affiliate.html">Affiliate</a>
          <a id="nava" href="./about.html">About us</a>
        </nav>
      </div>
    </header>
    <div class="HomeWrapper" id="scroller">
      <div class="StoreWrapper">
        <div class="Items">
          <div class="groups">
            <form action="#" method="post">
              {% for i in groups %}
              <button class="button" name="buttons" value="{{i}}">
                <b>{{i}} invoices</b>
              </button>
              {% endfor %}
            </form>
          </div>
          <div class="ProductsWrapper">
            <div class="ProductContainer">
              <!-- {% for i in products %} -->
              <form action="#" method="post">
                <div class="Product">
                  <!-- <img src="{{i[`thumbnailUrl`]}}" alt="{{i[`itemName`]}}"> -->
                  <img src="./fk-receipts//apple.png" alt="" />
                </div>
              </form>
              <!-- {% endfor %} -->
            </div>
            <div class="ProductContainer">
              <!-- {% for i in products %} -->
              <form action="#" method="post">
                <div class="Product">
                  <!-- <img src="{{i[`thumbnailUrl`]}}" alt="{{i[`itemName`]}}"> -->
                  <img src="./fk-receipts//apple.png" alt="" />
                </div>
              </form>
              <!-- {% endfor %} -->
            </div>
            <div class="ProductContainer">
              <!-- {% for i in products %} -->
              <form action="#" method="post">
                <div class="Product">
                  <!-- <img src="{{i[`thumbnailUrl`]}}" alt="{{i[`itemName`]}}"> -->
                  <img src="./fk-receipts//apple.png" alt="" />
                </div>
              </form>
              <!-- {% endfor %} -->
            </div>
            <div class="ProductContainer">
              <!-- {% for i in products %} -->
              <form action="#" method="post">
                <div class="Product">
                  <!-- <img src="{{i[`thumbnailUrl`]}}" alt="{{i[`itemName`]}}"> -->
                  <img src="./fk-receipts//apple.png" alt="" />
                </div>
              </form>
              <!-- {% endfor %} -->
            </div>
            <div class="ProductContainer">
              <!-- {% for i in products %} -->
              <form action="#" method="post">
                <div class="Product">
                  <!-- <img src="{{i[`thumbnailUrl`]}}" alt="{{i[`itemName`]}}"> -->
                  <img src="./fk-receipts//apple.png" alt="" />
                </div>
              </form>
              <!-- {% endfor %} -->
            </div>
            <div class="ProductContainer">
              <!-- {% for i in products %} -->
              <form action="#" method="post">
                <div class="Product">
                  <!-- <img src="{{i[`thumbnailUrl`]}}" alt="{{i[`itemName`]}}"> -->
                  <img src="./fk-receipts//apple.png" alt="" />
                </div>
              </form>
              <!-- {% endfor %} -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="QuestionWrapper" id="scroller">
      <div class="About">
        <h2>Who are we?</h2>
        <p>
          We are Black Resellers, and we offer 1:1 receipts for your replicas.
          We provide three types of receipts: Email, Paper and App Emulators.
          Most of our receipts are automated, and you will receive them in your
          email within a few minutes.
        </p>
      </div>
      <div class="Faq">
        <div class="accordionWrapper">
          <button class="accordion">How will I get my receipt?</button>
          <div class="panel">
            <p>
              If you bought a email or paper receipt, you will get it via email.
            </p>
          </div>
          <button class="accordion">What's the delivery time?</button>
          <div class="panel">
            <p>From 5 minutes to 48 hours</p>
          </div>
          <button class="accordion">
            What to do if you haven't received a receipt?
          </button>
          <div class="panel">
            <p>Just message us on telegram or instagram</p>
          </div>
          <button class="accordion">
            What to do if you received a receipt with incorrect info?
          </button>
          <div class="panel">
            <p>Message us on telegram or instagram, we will fix</p>
          </div>
        </div>
      </div>
      <button class="ContactButton" id="contactBtn">Contact Us</button>
      <script type="text/javascript">
        document.getElementById("contactBtn").onclick = function () {
          location.href = "https://t.me/FKdlvery";
        };
      </script>
      <script src="./accordion.js"></script>
    </div>
    <footer>
      <div class="socials">
        <a target="_blank" href="https://www.instagram.com/fkreceipts/"
          ><img id="social" src="./fk-receipts/insta icon.png" alt="ig"
        /></a>
        <a target="_blank" href="https://t.me/fkreceipts/363"
          ><img id="social" src="./fk-receipts/telegram icon.png" alt=""
        /></a>
        <a
          target="_blank"
          href="https://www.youtube.com/channel/UCC2VbTPx77AKw9s7BsZEDlw"
          ><img id="social" src="./fk-receipts/youtobe icon.png" alt=""
        /></a>
      </div>
      <h4>Copyright © 2024; Designed By FKRECEIPT</h4>
    </footer>
  </body>
</html>
