<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>FK Receipts | Reviews</title>
</head>
<body>
    <header>
        <head>
            <link rel="stylesheet" href="./Components/index.css">        
        </head>
        <div class="header">
            <img src="./fk-receipts/logo.png" alt="">
            <ul>
                <li><a href="./home.html">Home</a></li>
                <li><a href="./affiliate.html">Affiliate</a></li>
                <li><a href="./delivery.html">Delivery</a></li>
                <li><a style="text-decoration: underline;" href="./reviews.html">Reviews</a></li>
                <li><a href="./about.html">About Us</a></li>
            </ul>
        </div>
    </header>
    <div class="ReviewsWrapper">

    </div>
    <footer>
        <div class="socials">
            <a target="_blank" href="https://www.instagram.com/fkreceipts/"><img id="social" src="./fk-receipts/insta icon.png" alt="ig"></a>
            <a target="_blank" href="https://t.me/fkreceipts/363"><img id="social" src="./fk-receipts/telegram icon.png" alt=""></a>
            <a target="_blank" href="https://www.youtube.com/channel/UCC2VbTPx77AKw9s7BsZEDlw"><img id="social" src="./fk-receipts/youtobe icon.png" alt=""></a>
        </div>
        <h4>Copyright © 2024; Designed By FKRECEIPT</h4>

    </footer>
</body>
</html>